# Python virtual environments
venv/
.venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Environment variables
.env

# Logs
*.log

# Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test/cache folders
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Local model/cache folders
.deepface/
.easyocr/